# dependencies
node_modules/
.pnp
.pnp.js

# next.js
.next/
out/

# env files
.env
.env.local
.env.*.local

# scraper
scraper/.env
scraper/scrape.log
scraper/node_modules/
scraper/.chrome-profile/
scraper/.seen-posts.json

# misc
.DS_Store
*.tsbuildinfo
next-env.d.ts
.vercel
.env*.local
