@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --status-verified-rideable: #22c55e;
  --status-probably-rideable: #86efac;
  --status-probably-not-rideable: #fb923c;
  --status-verified-not-rideable: #ef4444;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
